
@font-face {
  font-family: "klutura";
  src: url("../fonts/digory.ttf") format("truetype");
  font-size:24px;
}



.bt{
  cursor:pointer;
  background:#1F332C;
  color:#75B29F;
  box-sizing: content-box;
  border:none;
  padding:10px 10px;
  font-size:20px;
}

.App-header h2{
  font-family:"klutura", Arial, sans-serif ;
}

.App {
  text-align: center;
}

.App-logo {
  margin: 0 auto;
}

.App-header {
  background-color: #614866;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* CSS General */
.closeIcon {
	border: none;
	background: url(../pics/closeCross.svg) 0 0;
	background-size: cover;
	width:  25px;
	height: 25px;
	display: block;
	text-indent:-9999px;
	overflow:hidden;
	margin: 0;
	padding: 0;
	cursor: pointer;
	/* closeCross.svg */
}